.page404_wrap {
    text-align: center;
    padding-top: 200px;
}
.page404_text {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.page404_subtext {
    font-size: 25px;
    font-weight: bold;
}