.bg_img {
  background-image: url(../img/radio_bg.png);
  background-size: contain;
  background-position-y: -110px;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -10;
}
.register_title {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  padding: 100px 0 30px;
  text-align: center;
}
.register_form {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 8px 8px 8px rgb(155, 155, 155);
  padding: 15px 30px 40px 30px;
  margin-top: 20px;
}
.register_btn_wrap {
  margin: 50px 30px 0 30px !important;
}
.register_btn {
  background-color: rgba(104, 183, 135, 1) !important;
  border-radius: 60px !important;
  font-size: 15px !important;
}
.register_btn_google_wrap {
  margin-top: 15px !important;
}
.register_btn_google {
  background-color: rgba(104, 183, 135, 1) !important;
  font-size: 16px !important;
  width: 100% !important;
}
.register_btn:active {
  box-shadow: none !important;
}
.circle {
  background-color: #fff;
  box-shadow: 3px 3px 4px rgb(155, 155, 155);
  border-radius: 50%;
  height: 30px;
  margin: 0 auto;
  width: 30px;
}
.circle.input {
  background-color: #000;
  box-shadow: none;
}
