.password_title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 150px 0 30px;
  text-align: center;
}
.password_text {
  color: #fff;
  font-size: 20;
  text-align: left;
  line-height: 25px;
  margin: 0 auto;
  width: 80%;
}
.password_form {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 8px 8px 8px rgb(155, 155, 155);
  padding: 15px 30px 40px 30px;
  margin-top: 50px;
}
.password_btn {
  background-color: rgba(104, 183, 135, 1) !important;
  border-radius: 30px !important;
  font-size: 20px !important;
  width: 100%;
}
.password_btn:active {
  box-shadow: none !important;
}
