.save_listnav ul {
  padding: 20px 10px;
  overflow-x: auto;
  white-space: nowrap;
}
.save_listnav li {
  cursor: pointer;
  margin: 0 10px;
  width: 40%;
}
.save_listitem {
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: 20px 30px;
  margin-top: 5px;
}
.save_listitem div {
  text-align: center;
  width: 100%;
}
.save_listprogram,
.save_listcorner {
  text-align: left;
  margin: 0 auto;
  width: 90%;
}
.save_listprogram {
  font-size: 20px;
  font-weight: bold;
}
.save_listcorner {
  font-size: 18px;
  font-weight: bold;
}
.save_nolist {
  font-size: 23px;
  text-align: center;
  margin-top: 50px;
}
.edit_icon {
  margin-right: 20px;
}
