.setting_wrap {
  padding-top: 100px;
}
.setting_title {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.setting_user_btn_wrap,
.setting_logout_btn_wrap {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 8px 8px 8px rgb(155, 155, 155);
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
  width: 100%;
}
.setting_user_btn_wrap:active,
.setting_user_btn_wrap:active {
  box-shadow: none;
  transform: translateY(8px);
}
.template_btn_wrap,
.myprogram_btn_wrap {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 8px 8px 8px rgb(155, 155, 155);
  font-size: 18px;
  font-weight: bold;
  padding: 50px 30px;
  width: 45%;
}
.template_btn_wrap:active,
.myprogram_btn_wrap:active {
  box-shadow: none;
  transform: translateY(8px);
}
