.single_wrap {
  background-color: #fff;
  border-radius: 30px;
  padding: 100px 30px 20px;
  margin: 0 auto;
  width: 90%;
}
.single_item {
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  padding: 20px 10px;
}
.single_title {
  font-size: 18px;
  margin-bottom: 5px;
}
.single_content {
  line-height: 30px;
  white-space: pre-wrap;
}
.single_btn_wrap {
  margin: 50px 30px !important;
}
.btn {
  background-color: rgba(104, 183, 135, 1) !important;
  border-radius: 60px !important;
  font-size: 15px !important;
}
.single_btn {
  width: 70%;
}
.btn:active {
  box-shadow: none !important;
}
